.container {
  background: rgb(32,34,64);
  background: linear-gradient(90deg, rgba(32,34,64,1) 2%, rgba(44,48,107,1) 31%, rgba(38,48,184,1) 100%);
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div:nth-child(1) {
    margin-bottom: 9vh;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    div {
      display: block;
      margin: 0 0;
      h1 {
        font-size: 2.5rem;
        margin-bottom: -10px;

      }
      p {
        width: 18rem;
      }
    }
    @media screen and (max-width: 750px) {
      flex-direction: column-reverse;
      div {
        text-align: center;
        p {
          width: 80%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
  div:nth-child(2) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
